  @media screen and (max-width: 820px) {

  .home ,.about-me ,.portfolio ,.contact-me{
  display: none
  }

  .menu-icon{
  display: block;
  }

  .frame-parent9{
  display: flex;
  flex-direction: column;
  }

  .tokseoul-parent, .aj-fitness-gym-parent, .simple-lang-parent, .overlays-parent, .st-anthony-school-parent, .lia-cosplay-and-music-project-parent {
  justify-content: center;
  }

  .a0219ef5-parent, .aj-fitness-tshirt-front-parent, .f136318-parent, .c3cee56-parent, .frame-parent16, .f136318-parent, .rectangle-parent{
  justify-content: center;
  align-self: center;
  align-items: center;
  }
}