@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

:root[class~="dark"] {
    --background: #111111;
    --foreground: #fff;
    --muted: #111;
    --border: #333;
    --accent: #fff;
}

@layer base {
    html {
        @apply font-mono;
        background-color: var(--background);
        color: var(--foreground);
    }
}

@layer components {
    .card {
        @apply border-solid border-[1px] border-[#272727] bg-[#151515]/50 rounded-lg;
    }

    .tag {
        @apply border-solid border-[1px] border-[#FFFFFF] bg-[#151515]/50 text-white px-2 py-1 rounded-full flex items-center justify-center text-xs w-fit;
    }

    .project-card {
        @apply border border-[#272727] rounded-sm p-4 mb-2.5 gap-2;
    }
}